body {
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  background: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(204, 168, 233) 47.9%,
    rgb(255, 255, 231) 100.2%
  );
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
button,
::placeholder {
  padding: 0;
  margin: 0;
  color: #2a6a79;
  line-height: 1.5;
  font-family: "Ubuntu", sans-serif;
}

h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter {
  text-transform: capitalize;
}

p,
a,
li,
h3 span.low,
h4 {
  font-weight: 300;
}

ul {
  list-style: none;
}

button,
input {
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  box-shadow: 0 0 32px 0 rgb(31 38 135 / 19%);
  font-weight: 700;
  font-size: 16px;
}

button,
.search-btn {
  background: #90cedc;
  color: #ffffff;
  transition: all 200ms ease-in-out;
}

button:hover,
.search-btn:hover {
  background: #ffffff;
  color: #90cedc;
}
.weather-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 50px;

  background: rgba(222, 252, 249, 0.55);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 19%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.weather-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}
.search-form {
  display: flex;
}

.search-input {
  border-radius: 30px 0 0 30px;
  background: #ffffff;
}

.search-btn {
  border-radius: 0 30px 30px 0;
  margin-right: 20px;
}

.current-weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.current-weather-container i {
  font-size: 60px;
  color: #cca8e9;
  margin-bottom: 20px;
}

.current-weather-display {
  width: 200px;
  height: 200px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 19%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.current-weather-display h2 {
  font-size: 42px;
}

.forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.forecast-item {
  width: 100px;
  height: 100px;
  padding: 20px;
  margin: 0 5px 40px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 19%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.forecast-item img {
  width: 50px;
}

.author-note {
  display: block;
  font-size: 12px;
  margin: 20px 0;
}
